* {
  margin: 0;
}

.narutoicon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10vw;
  padding-top: 20px;
  padding-bottom: 20px;
}

nav {
  word-spacing: 50px;
  text-align: center;
}

nav ul {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 10px;
}

nav li {
  text-align: center;
  position: relative;
  display: inline-block;
  margin: 5px;
  padding-top: 0px;
  position: relative;
}

nav a {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: bold;
  padding-top: 7px;
  text-decoration: none;
  font-size: 18px;
  color: black;
}

nav a:hover {
  color: red;
}

nav a::before {
  content: "";
  display: block;
  height: 2px;
  background: blue;
  position: absolute;
  top: 0;
  width: 0%;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

nav a:hover::before {
  width: 100%;
}

h1 {
  font-family: 'Shrikhand', cursive;
  letter-spacing: 2px;
  padding-top: 12vw;
  padding-bottom: 12vw;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 8vw;
  font-size: 7vw;
  color: blue;
  text-align: center;
  background-color: pink;
}



/* p {
  font-family: 'Source Sans Pro', sans-serif;
  height: auto;
  width: 100vw;
  position: absolute;
  overflow-x: hidden;
} */



.container {
  height: 1000px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
}

div {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  padding: 5px;
}

.header {
  padding-top: 50px;
  padding-bottom: 30px;
  background: black;
  flex: 1;
  font-size: 40px;
  text-align: center;
}

.content {
  display: flex;
  margin: 5px;
  padding: 0px;
  flex: 4;
}

.main {
  background-color: brown;
  background-size: cover;
  order: 2;
  flex: 1;
}

.aside1{
  background-color: yellow;
background-size: cover;
order: 1;
flex: 1;
}

.aside2{
  background-color: red;
  background-size: cover;
  order: 3;
  flex: 1;
}

.footer{
  background-color: purple;
  background-size: cover;
  flex: .5;
  text-align: center;
  font-size: 10px;
  line-height: 60px;
  color: black;
  align-content: stretch;
}