* {
  margin: 0;
}

.narutoicon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10vw;
  padding-top: 30px;
  padding-bottom: 30px;
}

nav {
  padding: 15px;
  word-spacing: 50px;
  text-align: center;
}

nav ul {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 10px;
}

nav li {
  text-align: center;
  position: relative;
  display: inline-block;
  margin: 10px;
  padding-top: 8px;
}

nav a {
  font-family: 'Work Sans', sans-serif;
  font-style: bold;
  padding-top: 8px;
  text-decoration: none;
  font-size: 18px;
  color: #4B83F2;
}

nav a:hover {
  color: #F28705;
}

nav a::before {
  content: "";
  display: block;
  height: 2px;
  background: blue;
  position: absolute;
  top: 0;
  width: 0%;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

nav a:hover::before {
  width: 100%;
}

.container {
  height: 1500px;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

div {
  margin: 0px;
  color: white;
  font-family: 'Work Sans', sans-serif;
  padding: 5px;
}

.header {
  font-family: 'Shrikhand', cursive;
  letter-spacing: 2px;
  padding-top: 90px;
  padding-bottom: 90px;
  margin: 0px;
  line-height: 7vw;
  font-size: 5vw;
  color: #4B83F2;
  text-align: center;
  background-color: #E4E9F2;
}

.content {
  display: flex;
  margin: 0px;
  padding: 0px;
  flex: 4;
}

.left {
  height: 50vw;
  width: 50vw;
  padding: 20px;
  font-size: 14px;
  line-height: 18px;
  background-image: url(cupnoodle.jpg);
  background-size: cover;
  order: 1;
  flex: 1;
}


.right{
  width: 50vw;
  color: black;
  padding: 30px;
  background-color: #FFFFFF;
  background-size: cover;
  order: 2;
  flex: 1;
}

.footer{
  background-color: #4B83F2;
  background-size: cover;
  flex: .1;
  text-align: center;
  font-size: 12px;
  line-height: 60px;
  word-spacing: 2px;
  letter-spacing: 1px;
  color: white;
  align-content: stretch;
}